# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# VSCode
.vscode/

# macOS / Linux files
.DS_Store
Thumbs.db

# Logs
*.log

# Data files
*.csv
*.xlsx
*.json

# Python environment
*.env
